<div style="width: 30%; padding: 4rem">
  <div class="card card--secondary">
    <header class="card__header">Card 10</header>
    <div class="card__body">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius,
        officiis.
      </p>
    </div>
  </div>
</div>

<!-- EXTRA -->
<div style="width: 30%; padding: 4rem">
  <div class="card card--secondary">
    <header class="card__header">Card 10</header>
    <div class="card__body">
      <ul class="list list--tick">
        <li class="list__item">Item 1</li>
        <li class="list__item">Item 2</li>
        <li class="list__item">Item 3</li>
      </ul>
      <button class="btn btn--outline btn--block">Press me</button>
    </div>
  </div>
</div>
